.featured {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.featuredItem {
  flex: 1;
  margin: 0px 20px;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-box-shadow: -4px 3px 20px 9px #ececec;
  box-shadow: -4px 3px 20px 9px #ececec;
}

.featuredTitle {
  font-size: 20px;
}

.featuredMoneyContainer {
  margin: 10px 0px;
  display: flex;
  align-items: center;
}

.featuredMoney {
  font-size: 30px;
  font-weight: 600px;
}

.featuredMoneyRate {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.featuredIcon {
  font-size: 17px;
  margin-left: 5px;
  color: rgb(24, 185, 24);
}
.featuredIcon.negative {
  font-size: 17px;
  margin-left: 5px;
  color: red;
}

.featuredSub {
  font-size: 15px;
  color: grey;
}
